/* Gin Admin Toolbar */
.toolbar .toolbar-bar .design-system.toolbar-icon::before {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m2.5 19.6 1.4.6v-9L1.4 17a2 2 0 0 0 1.1 2.6M22 16 17 4a2 2 0 0 0-2.5-1.1L7 5.9A2 2 0 0 0 6 8.7l5 11.9a2 2 0 0 0 2.6 1.1l7.3-3a2 2 0 0 0 1.1-2.7M8 8.8a1 1 0 0 1-1-1 1 1 0 0 1 1-1c.5 0 1 .5 1 1 0 .6-.5 1-1 1m-2 11a2 2 0 0 0 2 2h1.4L6 13.4v6.3Z"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m2.5 19.6 1.4.6v-9L1.4 17a2 2 0 0 0 1.1 2.6M22 16 17 4a2 2 0 0 0-2.5-1.1L7 5.9A2 2 0 0 0 6 8.7l5 11.9a2 2 0 0 0 2.6 1.1l7.3-3a2 2 0 0 0 1.1-2.7M8 8.8a1 1 0 0 1-1-1 1 1 0 0 1 1-1c.5 0 1 .5 1 1 0 .6-.5 1-1 1m-2 11a2 2 0 0 0 2 2h1.4L6 13.4v6.3Z"/></svg>');
}
